.TodoItem {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    border: 1px solid #bebebe;
    display: flex;
    padding: 10px;
}

.TodoItem > p {
    margin: 0;
    margin-left: 10px;
}

.TodoItem-complete {
    text-decoration: line-through;
    opacity: 0.5;
}

