.App {
  margin: 0 auto;
  width: 500px;
}

.App .Header {
  border: 1px solid #bebebe;
  display: flex;
  padding: 10px;
}

.App .Header input {
  width: 100%;
  padding-left: 10px;
  margin-left: 10px;
  border: none;
}
input:focus {
  outline: none;
}


